* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    max-width: 100%;
    overflow: auto;
    overflow-x: hidden;
    font-family: Poppins-Regular, sans-serif;
}

a {
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}

a:hover {
    text-decoration: none !important;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus, input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #cccccc;
}

input:-moz-placeholder {
    color: #cccccc;
}

input::-moz-placeholder {
    color: #cccccc;
}

input:-ms-input-placeholder {
    color: #cccccc;
}

textarea::-webkit-input-placeholder {
    color: #cccccc;
}

textarea:-moz-placeholder {
    color: #cccccc;
}

textarea::-moz-placeholder {
    color: #cccccc;
}

textarea:-ms-input-placeholder {
    color: #cccccc;
}

/*---------------------------------------------*/
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.modal-title {
    width: 65%;
    font-family: Poppins-Regular, sans-serif;
    line-height: 1.5;
    font-size: 5vw;
}

.title-login {
    padding-top: 50px;
}

.img-circle-1 {
    display: table-row;
    padding-top: 5%;
    position: absolute;
    right: -12%;
}

.img-circle-2 {
    display: table-row;
    padding-bottom: 2%;
    position: absolute;
    left: -12%;
}

.login100-more {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: calc(100% - 520px);
    position: relative;
    z-index: 100;
    min-height: 100vh;
}

.form-group {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 12%;
    min-height: 25vh;
    width: 80%;
    border-radius: 10px;
    border: 0.5px solid white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.form-group-input input[type= text], input[type=password] {
    border: none;
    outline: none;
}

.form-group-input input[type= text]:focus, input[type=password]:focus {
    border: none;
    outline: none;
}

.form-group-input {
    width: 80%;
    position: relative;
    border-bottom: 1.5px solid #880ee6 !important;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin: auto;
}

.form-group-input .icon {
    color: #880ee6;
}

.remember {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.form-check-label a {
    font-size: 18px;
    color: black;
}

.form-check-label a:hover {
    font-size: 18px;
    color: #880ee6;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 40px;
    background-color: #880ee6;
    border-radius: 25px;
    cursor: pointer;
}

span a {
    font-size: 18px;
    color: #880ee6;
}

span a:hover {
    font-size: 18px;
    color: #880ee6;
}

@media only screen and (max-width: 576px) {
    .login100-more {
        display: none;
    }
}
