.form-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 12%;
    min-height: 30vh;
    width: 80%;
    border-radius: 7px;
    border: 0.5px solid white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}