* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.modal-title {
    color: white;
    font-size: 36px;
    width: 70%;
    margin: 5px 0px 0px 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.card-img {
    color: white;
    margin: 10px 0px 0px 20px;
}

.card-img-bottom {
    color: white;
    margin: 15px 0px 0px 20px;

}

.card-subtitle {
    color: white;
    margin: 10px 0px 0px 20px;
    font-size: 16px;
}

.container {
    width: 100%;
}

.box {
    border: 0.5px solid white;
    min-height: 20vh;
    position: absolute;
    z-index: 0.1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 7px;
    padding-bottom: 25px;
}

.login100-form-title {
    width: 100%;
    font-size: 45px;
    font-weight: bold;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    top: 0;
    position: absolute;
    margin-top: 20%;
}

.wrap-input100 {
    max-width: 80%;
    position: relative;
    border-bottom: 1px solid #dbdbdb;
}

.contact100-form-checkbox {
    position: absolute;
    text-align: right;
    bottom: 0;
    margin-bottom: 48%;
}

.contact100-form-checkbox-login {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 10%;
    margin-bottom: 9%;
}

.contact100-form-checkbox-forgot {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 10%;
    margin-bottom: 47%;
}

.circle-1 {
    display: block;
    position: absolute;
    right: -5%;
    top: 10%;
    border-radius: 50%;
    background-color: #8B16FF;
    z-index: 1000;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    height: 90px;
    width: 90px;
}

.circle-2 {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    right: 25%;
    top: 14%;
    border-radius: 50%;
    background-color: #8B16FF;
    z-index: 1000;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.circle-3 {
    display: block;
    position: absolute;
    left: -5%;
    bottom: 10%;
    border-radius: 50%;
    background-color: #8B16FF;
    z-index: 1000;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
    height: 90px;
    width: 90px;
}

.circle-4 {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    left: 25%;
    bottom: 13%;
    border-radius: 50%;
    background-color: #8B16FF;
    z-index: 1000;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.icon {
    color: #8B16FF;
    padding-right: 8px;
}